<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/client/changeClientInfo">
    <input type="button" value="Change User Info">
</a><br>
<a href="/client/operationsHistory">
    <input type="button" value="Operations History">
</a>
<a href="/client/templates">
    <input type="button" value="Templates">
</a>
<a href="/client/transaction">
    <input type="button" value="Transfer">
</a>
<a href="/client/savingAccount">
    <input type="button" value="Saving account">
</a>
<span th:text="${cardErr}" style="color: red"/>
<span th:text="${cardSuccess}" style="color: green"/>
<div th:each="card : ${cards}">
    <span>Card number</span><br>
    <form method="post" th:action="@{/client/blockCard/{cardNumber} (cardNumber = ${card.getCardNumber()})}">
        <span th:text="${card.getCardNumber()}"/>
        <input type="submit" value="Block">
    </form>
    <span>Balance: <span th:text="${card.getBalance()}"/></span>
</div>
<a href="/client/getNewCard">
    <input type="button" value="Get a new card">
</a><br>
</body>
</html>