<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:if="${hasAccount == true}">
        <div th:object="${savingAccount}">
            <label>
                Balance of saving account: <span th:text="${savingAccount.getBalance()}"/>
            </label><br>
            <label>
                Minimum balance for a month: <span th:text="${savingAccount.getMinBalance()}"/>
            </label><br>
            <label>
                Accrual at the end of the month: <span th:text="${savingAccount.getAccrual()}"/>
            </label><br>
            <form method="get" th:action="@{/client/savingAccount/replenishment}">
                <input type="submit" value="Top up savings account"/>
            </form>
            <form method="get" th:action="@{/client/savingAccount/withdraw}">
                <input type="submit" value="Withdraw money">
            </form>
            <form method="get" th:action="@{/client/savingAccount/close}">
                <input type="submit" value="Close an account">
            </form>
            <div th:if="${isClosing == true}">
                <form method="post" th:action="@{/client/savingAccount/close}">
                    <span>Card closing. Type card for withdraw: </span><br>
                    <select name="cardNumber">
                        <option th:each="card : ${cards.entrySet()}" th:value="${card.getKey()}" th:text="${card.getKey()} + ' ' + ${card.getValue()}"/>
                    </select>
                    <input type="submit" value="Close account">
                </form>
            </div>
        </div>
    </div>
    <div th:if="${hasAccount == false}">
        <h2>How interest is calculated and what is the minimum balance</h2>
        <p>The minimum balance is the minimum amount that was on your savings account during the month.
            It is on it that interest will be charged.
            Fixed interest rate 1.5%
        </p>
        <form method="get" th:action="@{/client/savingAccount/createAccount}">
            <input type="submit" value="Open saving account">
        </form>
        <div th:if="${creatingAccount == true}">
            <span>Select the card from which the initial contribution will be made</span>
            <form method="post" th:action="@{/client/savingAccount/createAccount}">
                <select name="cardNumber">
                    <option th:each="card : ${cards.entrySet()}" th:value="${card.getKey()}" th:text="${card.getKey()} + ' ' + ${card.getValue()}"/>
                </select>
                <label>
                    Input initial sum: <input type="text" name="sum">
                </label>
                <span th:text="${sumErr}" style="color: red"/>
                <input type="submit" value="Create">
            </form>
        </div>
    </div>
</body>
</html>